name: CI
on: [push, pull_request]
jobs:
  build:
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
    steps:
      - id: setup-homebrew
        uses: Homebrew/actions/setup-homebrew@master
      - run: brew style --formula --display-cop-names --except-cops Homebrew/MoveToExtendOS Formula/ocdscardinal.rb
      - run: brew audit --new-formula Formula/ocdscardinal.rb
      - run: brew install Formula/ocdscardinal.rb
      - run: brew test Formula/ocdscardinal.rb
